.todo{
    background: white;
    color: black;
    border-style: solid;
    padding-top: 15px;
    padding-right: 80px;
    background: white;
    color: black;
    padding-left: 80px;
    padding-bottom: 15px
}